@import './mixin.scss';
@import './variables.scss';

body{
    background-color: $bg;
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    margin: auto;
    max-width: 88%;
    justify-content: center;
    padding: 180px 0;
    justify-content: space-between;
    @include media(768px){
        flex-direction: column;
        gap: 20px;
        padding: 90px 0;
    }
    @include media(320px){
        padding: 40px 0;       
    }
}