@import './variables';
@import './mixin.scss';

.lock{
    height: 100%;
    overflow: hidden;
}

.section {
    &_menu {
        position: fixed;
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 998;
        left: -100%;
        top: 0;
        transition: 300ms ease-in;
    }
}
.menu {
    padding: 25px;  
    z-index: 5;
    display: flex;
    flex-direction: column;
    &_active{
        position: fixed;
        background-color: $bg;
        height: 100%;
        width: 100%;
        z-index: 990;
        left: 0;
        top: 0;
        transition: 300ms ease-in;
    }
    &__logo {
        margin-top: 20%;
        width: 80%;
        height: auto;
    }

	&__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: auto
	}

	&__item {
	}

	&__icon {
        fill: white;
        transition: 250ms ease-in;
        &:hover,
        &:focus{
            fill: $main-color;
        }
	}
    &__list {
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 24px;
        color: $main-color;
    }
    &__link{
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 700;
        &:hover,
        &:focus
        {
            border: 1px solid $main-color;
            color: $main-color;
            border-radius: 3px;
        }
    }
    &__title{
        text-align: center;
        margin-bottom: 40px;
        font-size: 48px;
    }

}

.burger{
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    margin-left:auto;
    z-index: 9999;
    @include media(480px){
            display: block;
    }
    &::before,
    &::after{
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
    }
    &::after{
        bottom: 0;
    }
    &::after,
    &::before{
        transform: rotate(180deg);
        transition-duration: 300ms !important;
    }
    & span{
        position: absolute;
        background-color: $white;
        left: 0;
        top: 14px;
        width: 100%;
        height: 2px;
    }
    &_close{
        position: absolute;
        top: 20px;
        right: 40px;  
        z-index: 9999;          
    }
    &_opened{
        &::before{
            bottom: 13.5px;
            transform: rotate(-45deg);
            transition-duration: 300ms !important;
        }
        &::after{
            top: 13.5px;
            transform: rotate(45deg);
            transition-duration: 300ms !important;
        }
        & span{
            transform: scale(0);
            
        }             
    }
}
