@import"./variables.scss";
@import"./mixin.scss";

.backdrop {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    transition: 300ms ease-in;
    z-index: 9999999;
    top: 0;
    left: 0;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    display: block;
    align-self: center;
    min-width: 528px;
    background-color: $bg;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: 300ms ease-in;
    @include media(768px){
        max-width: 90vw;
        min-width: 300px;
    }
    @include media(320px){
        width: 100vw;
        padding: 5px;
        min-width: 300px;
    }
		&__absolute {
            position: absolute;
		}

		&__title {
            color: white;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.6px;
            margin: 0 auto;
            margin-bottom: 2px;
            @include media(320px){
                max-width: 150px
            }
		}

		&__label {
            color: white;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.12px;
            margin: 10px 0 4px 0px;
            display:inline-block;
            transition: 300ms ease-in;
		}

		&__checkbox-fix {
            position: relative; 
            @include media(320px){
                width: 100%;
            }
		}

		&__input {
            height: 40px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid $white;
            padding: 0 0 0 42px;
            transition: 300ms ease-in;
            background-color: transparent;
            color: $main-color;
            &:hover,&:focus{
                border: 1px solid $main-color;
                transition: 300ms;
                color: white;
                outline: none;   
            }
            &:hover+.modal__icon,
            &:focus+.modal__icon{
                fill: $main-color;
                transition: 300ms ease-in;
            }
            @include media(320px){
                max-width: 100%;
            }
		}

		&__icon {
            display: inline-block;
            position: absolute;
            top: 11px;
            left: 12px;
            fill: $white;
            transition: 300ms ease-in;
		}

		&__textarea {
            height: 120px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid $white;
            padding: 12px 16px 12px 16px;
            resize: none;
            &:focus,
            &:hover{
                border: 1px solid $main-color;
                outline: none;
                transition: 300ms ease-in;
            }
		}

		&__li {

			&_checkbox {
                position: relative;
                text-align: center;
                color: $main-color;
                font-size: 14px;
                font-weight: 400;
                line-height: 171.429%;
                letter-spacing: 0.42px;
                margin-top: 20px;
			}

			&_button {
                text-align: center;
			}
		}

		&__check {
            display: flex;
            cursor: pointer;
            position: relative;
            margin: auto;
            width: 100%;
            -webkit-tap-highlight-color: transparent;
            transform: translate3d(0, 0, 0);
            align-items: center;
            & svg{
                position: relative;
                z-index: 1;
                fill: none;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: $white;
                stroke-width: 1.5;
                transform: translate3d(0, 0, 0);
                transition: all 0.2s ease;
                margin-left: 12px;
                @media (max-width:768px){
                    margin-left: 0;
                }
            }
            & svg path{
                stroke-dasharray: 60;
                stroke-dashoffset: 0;
            }
            & svg polyline{
                stroke-dasharray: 22;
                stroke-dashoffset: 66;
            }
            &:hover::before{
                opacity: 1;
            }
            &:hover svg{
                stroke: $main-color;
            }
		}

		&__span {
            color: $main-color;
            text-decoration: underline;
		}

		&__submit {
            @include button(10px 52px 10px 52px,$main-color ,white,0);
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0.96px;
            margin-top: 30px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover,
            &:focus{
                background-color: transparent;
                border: 1px solid $white;
                transition: 300ms ease-in;
            }
		}

		&__exit-button {
            fill: white;
            position: absolute;
            border: 1px solid white;
            width: 30px;
            height: 30px;
            right: 8px;
            top: 8px;
            border-radius: 15px;
            background-color: transparent;
            transition: 300ms ease-in;
            &:hover,
            &:focus{
                border: 1px solid $main-color;
                transition: 300ms ease-in;
            }
            svg{
                transition: 250ms ease-in;
            }
            &:hover svg,
            &:focus svg{
                fill: $main-color;
            }
		}
        &__span-text{
            color: white;
            margin-left: 24px;
            @media (max-width:768px){
                margin-left: 8px;
            }
            @media (max-width:650px){
                font-size: 12px;
            }
            @media (max-width:320px){
                text-align: left;
                margin-left: 15px;
            }
        }

}
#cbx:checked + .modal__check svg {
    stroke: $main-color;
}

#cbx:checked + .modal__check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

#cbx:checked + .modal__check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}
#cbx:checked + .check svg {
    stroke: $main-color;
  }
  
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }


